# Ignore environment variable files
.env

# Node modules (dependencies)
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Optional: Ignore editor/project files
.vscode/
.idea/
